<div id="drawer-{{ drawer_id }}" class="drawer drawer--wide" data-drawer data-parent style="opacity: 0; display: none;">
  <div class="drawer-panel user-select-none slide-from-right color-{{ settings.color_scheme_drawers }}" data-contents>
    <header class="drawer-header">
      <h3 class="size--small">{{ title | default: page.title }}</h3>
      <a role="button" href="#" class="close" data-close aria-label="{{ 'accessibility.close_navigation' | t }}">
        {%- render 'icon-close' -%}
      </a>
    </header>
    <div class="drawer-content accordion__content rte scrollbar--hide">
      {{ text }}
      {{ page.content }}
    </div>
  </div>
  <a href="#" class="page-overlay" data-overlay aria-hidden="true"></a>
</div>