{%- liquid
  assign show_badges = false

  assign is_preorder = false
  if product.tags contains 'Preorder' or product.tags contains 'preorder'
    assign is_preorder = true
    assign show_badges = true
  endif

  assign is_new = false
  if product.tags contains 'New' or product.tags contains 'new'
    assign is_new = true
    assign show_badges = true
  endif

  assign is_sale = false
  assign variant_to_check = current_variant | default: product.selected_or_first_available_variant
  if variant_to_check and variant_to_check.compare_at_price != blank and variant_to_check.compare_at_price != nil and variant_to_check.compare_at_price > 0 and variant_to_check.compare_at_price > variant_to_check.price
    assign is_sale = true
    assign show_badges = true
  endif

  assign is_sold_out = false
  if current_variant.inventory_management == 'shopify' and current_variant.inventory_policy == 'deny' and current_variant.inventory_quantity <= 0
    assign is_sold_out = true
    assign show_badges = true
  endif
  if product.available == false
    assign is_sold_out = true
    assign show_badges = true
  endif

  if settings.custom_badges != empty
    assign custom_badges_array = settings.custom_badges | split: ';'
    assign custom_badges_html = ''
    for custom_badge in custom_badges_array
      assign custom_badge_array = custom_badge | split: ':'
      if product.tags contains custom_badge_array[0]
        assign show_badges = true
        assign custom_badges_html = custom_badges_html | append: '<span class="badge custom" style="--text-color:' | append: custom_badge_array[2] | append: ';--background-color:' | append: custom_badge_array[1] | append: ';">' | append: custom_badge_array[0] | append: '</span>'
      endif
    endfor
  endif
-%}

{%- if show_badges or settings.product_card_badges -%}
  <div class="badges">
    {%- comment -%} Sale badge - always rendered but with conditional visibility {%- endcomment -%}
    <span class="badge sale{% unless is_sale == true %} badge--hidden{% endunless %}" style="
      --text-color: {{ settings.badge_sale_foreground }};
      --background-color: {{ settings.badge_sale_background }};
      ">
      {{ 'products.product.badges.on_sale' | t }}
    </span>

    {%- comment -%} Sold out badge - always rendered but with conditional visibility {%- endcomment -%}
    <span class="badge soldout{% unless is_sold_out == true %} badge--hidden{% endunless %}" style="
      --text-color: {{ settings.badge_sold_out_foreground }};
      --background-color: {{ settings.badge_sold_out_background }};
      ">
      {{ 'products.product.badges.soldout' | t }}
    </span>

    {%- if is_preorder == true -%}
      <span class="badge preorder" style="
        --text-color: {{ settings.badge_preorder_foreground }};
        --background-color: {{ settings.badge_preorder_background }};
        ">
        {{ 'products.product.badges.preorder' | t }}
      </span>
    {%- endif -%}
    {%- if is_new == true -%}
      <span class="badge new" style="
        --text-color: {{ settings.badge_new_foreground }};
        --background-color: {{ settings.badge_new_background }};
        ">
        {{ 'products.product.badges.new' | t }}
      </span>
    {%- endif -%}
    {{ custom_badges_html }}
  </div>
{%- endif -%}