{%- liquid

  # ** PUROPOSE **
  # This code generates media thumbnails.
  # data-thumbnails-for value needs to mach the main media slider ID

  if desktop_thumbnails_position == 'next-to'
    assign grid_classes = 'grid-cols-5 md-grid-cols-1 column'
  else
    assign grid_classes = 'grid-cols-5'
  endif

  if show_in_desktop == false
    assign visibility_class = 'md-hide'
  elsif show_in_mobile == false
    assign visibility_class = 'md-down-hide'
  endif

  if product.media.size < 6
    assign slider_mobile = false
  else
    assign slider_mobile = true
  endif

  assign featured_media_id = product.selected_or_first_available_variant.featured_media.id
-%}

<gridy-slider
  id="thumbnail-slider-{{ section.id }}"
  class="gridy-slider product-thumbnails-slider {{ visibility_class }}"
  data-thumbnails-for="slider-{{ section.id }}"
  data-mobile-enabled="{{ slider_mobile }}"
  data-tablet-enabled="{{ slider_mobile }}"
  data-desktop-enabled="{{ slider_desktop }}"
  data-arrows="false">
  <div
    class="gridy-track scrollbar--hide grid sm-gap {{ grid_classes }}"
    style="
      --gap: {{ media_gap | default: '24px' }};
      --sm-gap: {{ sm_media_gap | default: '3px' }};
      --sm-br: {{ sm_border_radius | append: 'px' }};">
    {%- if product != nil -%}
      {%- for media in product.media -%}
        
        {%- liquid
          assign is_active = false
          if featured_media_id and media.id == featured_media_id
            assign is_active = true
          elsif featured_media_id == blank and forloop.index == 1
            assign is_active = true
          endif -%}
        <button
          id="thumbnail-item-{{ media.id }}"
          type="button"
          data-item-id="item-{{ media.id }}"
          data-thumbnail-btn
          class="thumbnail-btn sm-br{% if is_active %} active{% endif %}"
          style="
            background-color: {{ background_color }};">
          {% if media.media_type == "video" %}
            <svg class="video-icon" width="50px" height="50px" version="1.1" viewBox="0 0 30 30">
              <defs>
                <style>
                  .st0 {
                    fill: #fff;
                  }
            
                  .st1 {
                    fill: #333;
                    opacity: .5;
                  }
                </style>
              </defs>
              <path class="st1" d="M15.4,25.3s9.1,0,11.3-.6c1.3-.3,2.2-1.3,2.6-2.5.6-2.2.6-6.9.6-6.9,0,0,0-4.6-.6-6.8-.3-1.2-1.3-2.2-2.6-2.5-2.2-.6-11.3-.6-11.3-.6,0,0-9.1,0-11.3.6-1.2.3-2.2,1.3-2.6,2.5-.6,2.2-.6,6.8-.6,6.8,0,0,0,4.7.6,6.9.4,1.2,1.3,2.2,2.6,2.5,2.2.6,11.3.6,11.3.6h0Z"/>
              <path class="st0" d="M19.9,15.3l-7.5-4.2v8.5l7.5-4.2Z"/>
              <path class="st0" d="M19.9,15.3l-7.5-4.2v8.5l7.5-4.2Z"/>
            </svg>
          {% endif %}
          <figure class="media {{ sizing_rule }} {{ section.settings.product_image_aspect_ratio }}">
            {{ media.preview_image | image_url: width: 240 | image_tag }}
          </figure>
        </button>
      {%- endfor -%}
    {%- endif -%}
  </div>
</gridy-slider>
