<!doctype html>
<html class="no-js template-{{ template.name }}{% if request.design_mode %} theme-editor{% endif %}" lang="{{ request.locale.iso_code }}">
  <head>
    {%- comment -%} Critical metas below here {%- endcomment -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    {%- comment -%} Title {%- endcomment -%}
    <title>{{ shop.name }}</title>

    {%- comment -%} Preconnect links below here {%- endcomment -%}
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {%- unless settings.type_header_font.system? and settings.base_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- comment -%} Asynchronous JS below here {%- endcomment -%}

    {%- comment -%} CSS that includes @import below here {%- endcomment -%}

    {%- comment -%} Synchronous JS and CSS below here {%- endcomment -%}
    {% render 'css-settings-and-variables' %}

    {{ 'accessibility.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'reset.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'component-grid.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'component-card.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'component-gridy-slider.css' | asset_url | stylesheet_tag: preload: true }}
    {% if settings.product_card_show_rating -%}
      {{ 'component-rating.css' | asset_url | stylesheet_tag: preload: true }}
    {% endif -%}

    {%- comment -%} Preload links below here {% endcomment %}
    {% # theme-check-disable %}
    {% unless settings.base_font.system? -%}
      <link rel="preload" as="font" fetchpriority="high" href="{{ settings.base_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless -%}
    {% unless settings.header_font.system? -%}
      <link rel="preload" as="font" fetchpriority="high" href="{{ settings.header_font | font_url }}" type="font/woff2" crossorigin>
    {% endunless -%}
    {% if settings.css_animations -%}
      <link rel="preload" as="style" fetchpriority="low" href="{{ 'animations.css' | asset_url }}" onload="this.rel='stylesheet'">
    {% endif -%}

    {% # theme-check-enable %}
    <noscript>
    {% if settings.css_animations -%}
      {{ 'animations.css' | asset_url | stylesheet_tag }}
    {% endif -%}
    </noscript>

    {%- comment -%} Deferred JS below here. Content for header after. {%- endcomment -%}
    <script type="text/javascript" src="{{ 'global.js' | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ 'component-predictive-search.js' | asset_url }}" defer></script>
    <script type="text/javascript" src="{{ 'component-animations.js' | asset_url }}" defer></script>

    {{ content_for_header }}

    {%- comment -%} Everything else, e.g. SEO metas etc. below here {%- endcomment -%}
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}">
    {% render 'meta-tags' %}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    <meta name="theme-color" content="{{ settings.header_background }} ">
    {% if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png" />
    {% endif -%}
  </head>

  <body class="woolman">
    <a class="skip-to-content-link visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {%- section 'password-header' -%}

    <main id="MainContent" class="wrapper" role="main" tabindex="-1">
      {%- if shop.password_message != blank -%}
        <section class="shopify-section pt-32 pb-32 sm-pt-64 sm-pb-64" style="--idea-width: 65ch;">
          <div class="password-message text-align-center">
            {{ shop.password_message }}
          </div>
        </section>
      {%- endif -%}

      {{ content_for_layout }}
    </main>

    {%- section 'password-footer' -%}

    {%- render 'password-page-modal' -%}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ shop.url }}';
      window.routes = {
        root: '{{ routes.root_url }}',
        cart_url: '{{ routes.cart_url }}',
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        search_url: '{{ routes.search_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}',
        product_recommendations_url: '{{ routes.product_recommendations_url }}',
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`,
        shipping_free: `{{ 'sections.cart.shipping_free' | t }}`,
        shipping_not_free: `{{ 'sections.cart.shipping_not_free' | t: amount: '[amount]' }}`,
      };

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        itemAdded: `{{ 'general.cart.item_added' | t }}`,
        itemsAdded: `{{ 'general.cart.items_added' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        preOrder: `{{ 'products.product.preorder.preorder' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
        unavailable_with_option: `{{ 'products.product.value_unavailable' | t: option_value: '[value]' }}`,
        inventory: {
          in_stock: `{{ 'products.product.inventory.in_stock' | t }}`,
          in_stock_with_quantity: `{{ 'products.product.inventory.in_stock_with_quantity' | t: quantity: '[quantity]' }}`,
          few_left: `{{ 'products.product.inventory.few_left' | t }}`,
          few_left_with_quantity: `{{ 'products.product.inventory.few_left_with_quantity' | t: quantity: '[quantity]' }}`,
          will_be_in_stock_after: `{{ 'products.product.inventory.will_be_in_stock_after' | t: date: '[date]' }}`,
          waiting_for_stock: `{{ 'products.product.inventory.waiting_for_stock' | t }}`,
          out_of_stock: `{{ 'products.product.inventory.out_of_stock' | t }}`,
          out_of_stock_continue_selling: `{{ 'products.product.inventory.out_of_stock_continue_selling' | t }}`,
        },
      };

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      };

      window.themeStrings = {
        product_count_simple_one: `{{ 'products.facets.product_count_simple.one' | t: count: '[count]' }}`,
        product_count_simple_other: `{{ 'products.facets.product_count_simple.other' | t: count: '[count]' }}`,
        results_with_count_one: `{{ 'templates.search.results_with_count.one' | t: count: '[count]' }}`,
        results_with_count_other: `{{ 'templates.search.results_with_count.other' | t: count: '[count]' }}`,
      };

      theme = {};
      theme.settings = {
        moneyFormat: {{ shop.money_format | json }},
      };

      theme.assets = {};
    </script>
  </body>
</html>