{{ 'section-banner-grid.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign ipr_desktop = section.settings.section_columns_desktop
  assign ipr_tablet = section.settings.section_columns_tablet
  assign ipr_mobile = section.settings.section_columns_mobile
  assign full_width = section.settings.enable_full_width
  assign slider_items_count = section.blocks | size
  assign slider_mobile = false
  assign slider_desktop = false

  capture sizes
    render 'img_sizes', full_width: full_width, ipr_mobile: ipr_mobile, ipr_tablet: ipr_tablet, ipr_desktop: ipr_desktop
  endcapture

  if section.settings.layout_mobile contains 'slide'
    assign slider_mobile = true
  endif
  if section.settings.layout_desktop == 'slide'
    assign slider_desktop = true
  endif
-%}

<div
  id="{{ section.id }}"
  class="pt pb sm-pt sm-pb container banner-grid-section color-{{ section.settings.color_scheme }}{% if section.settings.sm_down_edge_to_edge %} sm-down-edge-to-edge{% endif %}{% if full_width %} edge-to-edge{% endif %}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
  ">

  <gridy-slider
    id="slider-{{ section.id }}"
    class="gridy-slider"
    data-mobile-enabled="{{ slider_mobile }}"
    data-tablet-enabled="{{ slider_desktop }}"
    data-desktop-enabled="{{ slider_desktop }}"
    data-ipr-mobile="{{ ipr_mobile }}"
    data-ipr-tablet="{{ ipr_tablet }}"
    data-ipr-desktop="{{ ipr_desktop }}"
    data-arrows="true"
    data-sliding-behavior="{{ section.settings.sliding_behavior }}"
    data-autoplay="{{ section.settings.autoplay}}"
    data-autoplay-delay="{{ section.settings.autoplay_speed | times: 1000 }}">

    <div
      class="grid gridy-track scrollbar--hide sm-gap grid-cols-{{ ipr_mobile }} sm-grid-cols-{{ ipr_tablet }} md-grid-cols-{{ ipr_desktop }}"
      style="
        --gap: {{ section.settings.grid_gap }}px;
        --sm-gap: {{ section.settings.sm_grid_gap }}px;">
      {%- for block in section.blocks -%}
        <div
          class="banner-grid-section__item banner-grid-section__item--{{ block.type }} color-{{ block.settings.color_scheme }}{% unless block.type == 'text'%} aspect-ratio--{{ section.settings.block_aspect_ratio }}{% endunless %}{% if block.settings.text_alignment != blank %} {{ block.settings.text_alignment }}{% endif %}{% if section.settings.rounded_corners %} br-img{% endif %}{% if section.settings.sm_rounded_corners %} sm-br-img{% endif %}"
          data-block-id="{{ block.id }}"
          {%- if block.type == 'text' -%}
          style="place-content: {{ block.settings.text_position }}"
          {%- endif -%}
          {{ block.shopify_attributes }}>

          {%- case block.type -%}
            {%- when 'image' or 'video' -%}
            {%- if block.settings.media_link != blank -%}
              <a href="{{ block.settings.media_link }}">
              {%- endif -%}

              {%- if block.type == 'image' -%}
                {%- render 'img',
                  src: block.settings.image,
                  lazyload: true,
                  aspect_ratio: section.settings.block_aspect_ratio,
                  sizes: sizes -%}
              {%- elsif block.type == 'video' -%}
                {%- render 'video',
                  src: block.settings.video_url,
                  autoplay: true,
                  loop: true,
                  aspect_ratio: section.settings.block_aspect_ratio,
                  lazyload: true -%}
              {%- endif -%}

              {%- if block.settings.title != blank -%}
                {% style %}
                  .banner-grid-section__item[data-block-id="{{ block.id }}"] .banner-grid-section__item__overlay::before {
                    opacity: {{ block.settings.overlay_opacity | divided_by: 100.00 }};
                  }
                {% endstyle %}
                <div class="banner-grid-section__item__overlay flex {{ block.settings.content_alignment }} p-{{ block.settings.padding }}">
                  <span class="banner-grid-section__item__heading {{ block.settings.title_style }}{% if block.settings.title_style contains 'btn' and block.settings.media_link == blank %} disabled{% endif %}">{{ block.settings.title | newline_to_br }}</span>
                </div>
              {%- endif -%}

              {%- if block.settings.media_link != blank -%}
              </a>
            {%- endif -%}

            {%- when 'text' -%}
            <div class="p-{{ block.settings.padding }}">

              {%- if block.settings.svg != blank -%}
                <div class="svg mb-24">{{ block.settings.svg }}</div>
              {%- endif -%}

              {%- if block.settings.subtitle != blank -%}
                <h4 class="subheading mb-8">{{ block.settings.subtitle }}</h4>
              {%- endif -%}

              {%- if block.settings.title != blank -%}
                <h3 class="h2 mb-16">{{ block.settings.title }}</h3>
              {%- endif -%}

              {%- if block.settings.richtext != blank -%}
                <div class="rte rte--wide mb-16">{{ block.settings.richtext }}</div>
              {%- endif -%}

              {%- if block.settings.button_label != blank -%}
                {%- render 'button',
                  label: block.settings.button_label,
                  link: block.settings.button_link,
                  style: block.settings.button_style,
                  color_scheme: block.settings.color_scheme -%}
              {%- endif -%}
            </div>

            {%- when 'product' -%}
            {%- if block.settings.product_card_content == 'content--none' -%}
              {%- assign card_aspect_ratio = section.settings.block_aspect_ratio -%}
            {%- else -%}
              {%- assign card_aspect_ratio = settings.product_card_aspect_ratio -%}
            {%- endif -%}
            {%- render 'card-product',
              product: block.settings.product,
              aspect_ratio: card_aspect_ratio,
              text_align: block.settings.text_alignment,
              sizes: sizes,
              class: block.settings.product_card_content -%}
          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>

    {%- liquid
      # Class for positioning
      if full_width
        assign arrows_class = ''
      else
        assign arrows_class = 'sm-on-edge'
      endif

      # Class to hide if all in view
      if slider_items_count <= ipr_desktop
        assign arrows_class = arrows_class | append: ' md-hide'
      endif
      if slider_items_count <= ipr_tablet
        assign arrows_class = arrows_class | append: ' sm-to-md-hide'
      endif
      if slider_items_count <= ipr_mobile
        assign arrows_class = arrows_class | append: ' sm-down-hide'
      endif
    -%}

    {% render 'gridy-arrows', class: arrows_class %}
  </gridy-slider>
</div>

{% schema %}
  {
    "name": "t:sections.banner-grid.name",

    "disabled_on": {
      "groups": ["header", "aside"]
    },
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.banner-grid.info"
      },
      {
        "id": "block_aspect_ratio",
        "type": "select",
        "label": "t:sections.banner-grid.settings.block_aspect_ratio.label",
        "info": "t:sections.banner-grid.settings.block_aspect_ratio.info",
        "default": "portrait",
        "options": [
          {
            "value": "portrait",
            "label": "t:sections.images.aspect_ratio.portrait_2_3"
          },
          {
            "value": "portrait_alt",
            "label": "t:sections.images.aspect_ratio.portrait_3_4"
          },
          {
            "value": "square",
            "label": "t:sections.images.aspect_ratio.square"
          },
          {
            "value": "landscape",
            "label": "t:sections.images.aspect_ratio.landscape_4_3"
          },
          {
            "value": "landscape_alt",
            "label": "t:sections.images.aspect_ratio.landscape_16_9"
          }
        ]
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "default",
        "label": "t:sections.colors.color_scheme.label"
      },
      {
        "type": "header",
        "content": "t:sections.headers.desktop_layout"
      },
      {
        "type": "range",
        "id": "section_columns_desktop",
        "label": "t:sections.layout.columns",
        "min": 2,
        "max": 8,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "enable_full_width",
        "label": "t:sections.layout.section_width.full_width",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sm_rounded_corners",
        "label": "t:sections.inputs.checkbox.rounded_corners",
        "default": false
      },
      {
        "type": "select",
        "id": "layout_desktop",
        "label": "t:sections.layout.display_type.label",
        "options": [
          {
            "value": "grid",
            "label": "t:sections.layout.display_type.grid"
          },
          {
            "value": "slide",
            "label": "t:sections.layout.display_type.slider"
          }
        ],
        "default": "grid"
      },
      {
        "type": "range",
        "id": "sm_grid_gap",
        "label": "t:sections.layout.grid_gap",
        "unit": "px",
        "min": 0,
        "max": 100,
        "default": 12
      },
      {
        "type": "range",
        "id": "md_padding_top",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "md_padding_bottom",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "t:sections.headers.tablet_layout"
      },
      {
        "type": "range",
        "id": "section_columns_tablet",
        "label": "t:sections.layout.columns",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 2
      },
      {
        "type": "paragraph",
        "content": "t:sections.paragraphs.tablet_layout_info"
      },
      {
        "type": "header",
        "content": "t:sections.headers.mobile_layout"
      },
      {
        "type": "range",
        "id": "section_columns_mobile",
        "label": "t:sections.layout.columns",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 1
      },
      {
        "type": "select",
        "id": "layout_mobile",
        "label": "t:sections.layout.display_type.label",
        "options": [
          {
            "value": "grid",
            "label": "t:sections.layout.display_type.grid"
          },
          {
            "value": "slide",
            "label": "t:sections.layout.display_type.slider"
          }
        ],
        "default": "grid"
      },
      {
        "type": "checkbox",
        "id": "sm_down_edge_to_edge",
        "label": "t:sections.layout.section_width.edge_to_edge",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "rounded_corners",
        "label": "t:sections.inputs.checkbox.rounded_corners",
        "default": false
      },
      {
        "type": "range",
        "id": "grid_gap",
        "label": "t:sections.layout.grid_gap",
        "unit": "px",
        "min": 0,
        "max": 40,
        "default": 0
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_top",
        "default": 24
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_bottom",
        "default": 24
      },
      {
        "type": "header",
        "content": "t:sections.headers.slideshow_settings",
        "info": "t:sections.sliders.slideshow_toggle_info"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "t:sections.sliders.enable_autoplay.label",
        "default": false
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "label": "t:sections.sliders.autoplay_speed.label",
        "info": "t:sections.sliders.autoplay_speed.info",
        "default": 5,
        "min": 2,
        "max": 8,
        "step": 1,
        "unit": "s"
      },
      {
        "type": "select",
        "id": "sliding_behavior",
        "label": "t:sections.sliders.sliding_behavior.label",
        "default": "single",
        "info": "t:sections.sliders.sliding_behavior.info",
        "options": [
          {
            "value": "single",
            "label": "t:sections.sliders.sliding_behavior.options.single"
          },
          {
            "value": "all",
            "label": "t:sections.sliders.sliding_behavior.options.all"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "t:sections.blocks.image.name",
        "settings": [
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "default",
            "label": "t:sections.colors.color_scheme.label"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "label": "t:sections.colors.overlay_opacity",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "%"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.inputs.image_picker.image"
          },
          {
            "type": "url",
            "id": "media_link",
            "label": "t:sections.inputs.url.banner_link",
            "info": "t:sections.banner-grid.blocks.media_link__info"
          },
          {
            "type": "header",
            "content": "t:sections.headers.content"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "t:sections.inputs.text.title"
          },
          {
            "type": "select",
            "id": "title_style",
            "label": "t:sections.typography.style_options.heading_style_label",
            "default": "h3",
            "info": "t:sections.banner-grid.blocks.title_style__info",
            "options": [
              {
                "value": "h3",
                "label": "t:sections.typography.style_options.heading",
                "group": "t:sections.typography.style_options.text_group"
              },
              {
                "value": "body-text",
                "label": "t:sections.typography.style_options.body_text",
                "group": "t:sections.typography.style_options.text_group"
              },
              {
                "value": "subheading",
                "label": "t:sections.inputs.text.subtitle",
                "group": "t:sections.typography.style_options.text_group"
              },
              {
                "value": "btn btn--primary",
                "label": "t:sections.typography.style_options.primary_button",
                "group": "t:sections.typography.style_options.button_group"
              },
              {
                "value": "btn btn--secondary",
                "label": "t:sections.typography.style_options.secondary_button",
                "group": "t:sections.typography.style_options.button_group"
              },
              {
                "value": "btn btn--link",
                "label": "t:sections.typography.style_options.link",
                "group": "t:sections.typography.style_options.button_group"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "t:sections.layout.position.heading_label",
            "default": "vertical-bottom horizontal-left",
            "options": [
              {
                "value": "vertical-top horizontal-left",
                "label": "t:sections.layout.position.options.top_left"
              },
              {
                "value": "vertical-top horizontal-center",
                "label": "t:sections.layout.position.options.top_center"
              },
              {
                "value": "vertical-top horizontal-right",
                "label": "t:sections.layout.position.options.top_right"
              },
              {
                "value": "vertical-center horizontal-left",
                "label": "t:sections.layout.position.options.middle_left"
              },
              {
                "value": "vertical-center horizontal-center",
                "label": "t:sections.layout.position.options.middle_center"
              },
              {
                "value": "vertical-center horizontal-right",
                "label": "t:sections.layout.position.options.middle_right"
              },
              {
                "value": "vertical-bottom horizontal-left",
                "label": "t:sections.layout.position.options.bottom_left"
              },
              {
                "value": "vertical-bottom horizontal-center",
                "label": "t:sections.layout.position.options.bottom_center"
              },
              {
                "value": "vertical-bottom horizontal-right",
                "label": "t:sections.layout.position.options.bottom_right"
              }
            ]
          },
          {
            "type": "range",
            "id": "padding",
            "label": "t:sections.layout.padding",
            "min": 0,
            "max": 80,
            "step": 8,
            "default": 40,
            "unit": "px"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.blocks.text.name",
        "settings": [
          {
            "type": "header",
            "content": "t:sections.headers.content"
          },
          {
            "type": "html",
            "id": "svg",
            "label": "t:sections.images.svg.label",
            "info": "t:sections.images.svg.info"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "t:sections.inputs.text.subtitle"
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.inputs.text.title",
            "default": "Text block"
          },
          {
            "type": "richtext",
            "id": "richtext",
            "label": "t:sections.inputs.text.text",
            "default": "<p>Text blocks are usefull for braking the grid feeling and to bring out additional inofrmation that needs more room and words.</p>"
          },
          {
            "type": "header",
            "content": "t:sections.headers.button"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "t:sections.inputs.text.button_label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.inputs.url.button_link"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "t:sections.buttons.style.label",
            "default": "primary",
            "options": [
              {
                "value": "primary",
                "label": "t:sections.buttons.style.primary"
              },
              {
                "value": "secondary",
                "label": "t:sections.buttons.style.secondary"
              },
              {
                "value": "link",
                "label": "t:sections.typography.style_options.link"
              }
            ]
          },
          {
            "type": "header",
            "content": "t:sections.headers.style_and_layout"
          },
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "default",
            "label": "t:sections.colors.color_scheme.label"
          },
          {
            "type": "range",
            "id": "padding",
            "label": "t:sections.layout.padding",
            "min": 0,
            "max": 80,
            "step": 8,
            "default": 40,
            "unit": "px"
          },
          {
            "type": "select",
            "id": "text_position",
            "label": "t:sections.layout.position.text_label",
            "default": "center",
            "options": [
              {
                "value": "start",
                "label": "t:sections.layout.position.options.top"
              },
              {
                "value": "center",
                "label": "t:sections.layout.position.options.middle"
              },
              {
                "value": "end",
                "label": "t:sections.layout.position.options.bottom"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.typography.text_align",
            "default": "text-align-center",
            "options": [
              {
                "value": "text-align-left",
                "label": "t:sections.layout.position.options.left"
              },
              {
                "value": "text-align-center",
                "label": "t:sections.layout.position.options.center"
              },
              {
                "value": "text-align-right",
                "label": "t:sections.layout.position.options.right"
              }
            ]
          }
        ]
      },
      {
        "type": "video",
        "name": "t:sections.blocks.video.name",
        "settings": [
          {
            "type": "text",
            "id": "video_url",
            "label": "t:sections.inputs.url.video_url",
            "info": "t:sections.inputs.url.video_url__info"
          },
          {
            "type": "url",
            "id": "media_link",
            "label": "t:sections.inputs.url.banner_link",
            "info": "t:sections.banner-grid.blocks.media_link__info"
          },
          {
            "type": "header",
            "content": "t:sections.headers.content"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "t:sections.inputs.text.title"
          },
          {
            "type": "select",
            "id": "title_style",
            "label": "t:sections.typography.style_options.heading_style_label",
            "default": "h3",
            "info": "t:sections.banner-grid.blocks.title_style__info",
            "options": [
              {
                "value": "h3",
                "label": "t:sections.inputs.text.title",
                "group": "t:sections.typography.style_options.text_group"
              },
              {
                "value": "body-text",
                "label": "t:sections.typography.style_options.body_text",
                "group": "t:sections.typography.style_options.text_group"
              },
              {
                "value": "subheading",
                "label": "t:sections.inputs.text.subtitle",
                "group": "t:sections.typography.style_options.text_group"
              },
              {
                "value": "btn btn--primary",
                "label": "t:sections.typography.style_options.primary_button",
                "group": "t:sections.typography.style_options.button_group"
              },
              {
                "value": "btn btn--secondary",
                "label": "t:sections.typography.style_options.secondary_button",
                "group": "t:sections.typography.style_options.button_group"
              },
              {
                "value": "btn btn--link",
                "label": "t:sections.typography.style_options.link",
                "group": "t:sections.typography.style_options.button_group"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "t:sections.layout.position.heading_label",
            "default": "vertical-bottom horizontal-left",
            "options": [
              {
                "value": "vertical-top horizontal-left",
                "label": "t:sections.layout.position.options.top_left"
              },
              {
                "value": "vertical-top horizontal-center",
                "label": "t:sections.layout.position.options.top_center"
              },
              {
                "value": "vertical-top horizontal-right",
                "label": "t:sections.layout.position.options.top_right"
              },
              {
                "value": "vertical-center horizontal-left",
                "label": "t:sections.layout.position.options.middle_left"
              },
              {
                "value": "vertical-center horizontal-center",
                "label": "t:sections.layout.position.options.middle_center"
              },
              {
                "value": "vertical-center horizontal-right",
                "label": "t:sections.layout.position.options.middle_right"
              },
              {
                "value": "vertical-bottom horizontal-left",
                "label": "t:sections.layout.position.options.bottom_left"
              },
              {
                "value": "vertical-bottom horizontal-center",
                "label": "t:sections.layout.position.options.bottom_center"
              },
              {
                "value": "vertical-bottom horizontal-right",
                "label": "t:sections.layout.position.options.bottom_right"
              }
            ]
          },
          {
            "type": "range",
            "id": "padding",
            "label": "t:sections.layout.padding",
            "min": 0,
            "max": 80,
            "step": 8,
            "default": 40,
            "unit": "px"
          },
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "default",
            "label": "t:sections.colors.color_scheme.label"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "label": "t:sections.colors.overlay_opacity",
            "default": 0,
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "%"
          }
        ]
      },
      {
        "type": "product",
        "name": "t:sections.blocks.product.name",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "t:sections.inputs.product.label"
          },
          {
            "type": "color_scheme",
            "id": "color_scheme",
            "default": "default",
            "label": "t:sections.colors.color_scheme.label"
          },
          {
            "type": "paragraph",
            "content": "t:sections.banner-grid.blocks.product__paragraph"
          },
          {
            "type": "select",
            "id": "product_card_content",
            "label": "t:sections.banner-grid.blocks.product_card_content.label",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "t:sections.banner-grid.blocks.product_card_content.options.default",
                "group": "t:sections.banner-grid.blocks.product_card_content.options.group__theme_settings"
              },
              {
                "value": "content--name-and-price",
                "label": "t:sections.banner-grid.blocks.product_card_content.options.name_and_price",
                "group": "t:sections.banner-grid.blocks.product_card_content.options.group__overwrite"
              },
              {
                "value": "content--name-only",
                "label": "t:sections.banner-grid.blocks.product_card_content.options.name_only",
                "group": "t:sections.banner-grid.blocks.product_card_content.options.group__overwrite"
              },
              {
                "value": "content--none",
                "label": "t:sections.banner-grid.blocks.product_card_content.options.hide_all",
                "group": "t:sections.banner-grid.blocks.product_card_content.options.group__overwrite"
              }
            ]
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.typography.text_align",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "t:sections.banner-grid.blocks.product_card_content.options.default",
                "group": "t:sections.banner-grid.blocks.product_card_content.options.group__theme_settings"
              },
              {
                "value": "text-align-left",
                "label": "t:sections.layout.position.options.left",
                "group": "t:sections.banner-grid.blocks.product_card_content.options.group__overwrite"
              },
              {
                "value": "text-align-center",
                "label": "Center",
                "group": "t:sections.banner-grid.blocks.product_card_content.options.group__overwrite"
              },
              {
                "value": "text-align-right",
                "label": "t:sections.layout.position.options.right",
                "group": "t:sections.banner-grid.blocks.product_card_content.options.group__overwrite"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.banner-grid.name",
        "settings": {},
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "text"
          },
          {
            "type": "image"
          },
          {
            "type": "video"
          },
          {
            "type": "product"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}