{%- liquid
  assign ipr_desktop = section.settings.collections_per_row_desktop
  assign ipr_tablet = section.settings.collections_per_row_tablet
  assign ipr_mobile = section.settings.collections_per_row_mobile
  assign sizes_ipr_mobile = ipr_mobile
  assign slider_mobile = false
  assign slider_desktop = false
  assign slide_peek = false
  assign full_width = section.settings.enable_full_width
  assign slider_items_count = section.blocks | where: 'type', 'collection' | size
  assign header_block = section.blocks | where: 'type', 'section_header' | first

  if section.settings.layout_mobile contains 'slide'
    assign slider_mobile = true
  endif
  if section.settings.layout_desktop == 'slide'
    assign slider_desktop = true
  endif

  if section.settings.layout_mobile contains 'peek'
    assign slide_peek = true
    assign sizes_ipr_mobile = ipr_mobile | plus: 0.5
  endif

  capture sizes
    render 'img_sizes', full_width: full_width, ipr_mobile: sizes_ipr_mobile, ipr_tablet: ipr_tablet, ipr_desktop: ipr_desktop
  endcapture
-%}

<div
  id="{{ section.id }}"
  class="pt pb sm-pt sm-pb container color-{{ section.settings.color_scheme }}{% if full_width %} sm-edge-to-edge sm-p-page{% endif %}{% if slider_mobile %} sm-down-edge-to-edge{% endif %}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
  ">

  {%- if header_block != blank -%}
    {% render 'section-header',
      size_multiplier: header_block.settings.size_multiplier,
      sm_size_multiplier: header_block.settings.sm_size_multiplier,
      text_align: header_block.settings.text_alignment,
      subtitle: header_block.settings.subtitle,
      subtitle_tag: header_block.settings.subtitle_tag,
      title: header_block.settings.title,
      title_tag: header_block.settings.title_tag,
      text: header_block.settings.text %}
  {%- endif -%}

  <gridy-slider
    id="slider-{{ section.id }}"
    class="gridy-slider"
    data-mobile-enabled="{{ slider_mobile }}"
    data-tablet-enabled="{{ slider_desktop }}"
    data-desktop-enabled="{{ slider_desktop }}"
    data-ipr-desktop="{{ ipr_desktop }}"
    data-ipr-tablet="{{ ipr_tablet }}"
    data-ipr-mobile="{{ ipr_mobile }}"
    data-arrows="true"
    data-sliding-behavior="{{ section.settings.sliding_behavior }}"
    data-autoplay="{{ section.settings.autoplay}}"
    data-autoplay-delay="{{ section.settings.autoplay_speed | times: 1000 }}">
    <div
      class="grid sm-gap gridy-track scrollbar--hide grid-cols-{{ ipr_mobile }} sm-grid-cols-{{ ipr_tablet }} md-grid-cols-{{ ipr_desktop }}{% if slider_mobile %} track-inner-padding{% endif %}{% if slide_peek %} slide-peek{% endif %}"
      style="
        --gap: {% if section.settings.custom_gap >= 0 %}{{ section.settings.custom_gap | append: 'px' }}{% else %}{{ settings.gutter | append: 'px' }}{% endif %};
        --sm-gap: {% if section.settings.sm_custom_gap >= 0 %}{{ section.settings.sm_custom_gap | append: 'px' }}{% else %}{{ settings.gutter_sm | append: 'px' }}{% endif %};
    ">
      {% for block in section.blocks %}
        {%- if block.type == 'section_header' -%}
          {%- continue -%}
        {%- endif -%}

        {%- assign slide_id = 'slider-' | append: section.id | append: '-item-' | append: forloop.index -%}
        {% render 'card-collection',
          shopify_attributes: block.shopify_attributes,
          card_id: slide_id,
          collection: block.settings.collection,
          custom_img: block.settings.custom_img,
          card_bg: block.settings.card_bg
          sizes: sizes %}
      {% endfor %}
    </div>

    {%- liquid
      # Class for positioning
      assign arrows_class = 'sm-on-edge'

      # Class to hide if all in view
      if slider_items_count <= ipr_desktop
        assign arrows_class = arrows_class | append: ' md-hide'
      endif
      if slider_items_count <= ipr_tablet
        assign arrows_class = arrows_class | append: ' sm-to-md-hide'
      endif
      if slider_items_count <= ipr_mobile
        assign arrows_class = arrows_class | append: ' sm-down-hide'
      endif
    -%}

    {% render 'gridy-arrows',
      class: arrows_class %}
  </gridy-slider>
</div>

{% schema %}
  {
    "name": "t:sections.collection-list.name",
    "disabled_on": {
      "groups": ["header", "footer", "aside"]
    },
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.collection-list.info"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "default",
        "label": "t:sections.colors.color_scheme.label"
      },
      {
        "type": "header",
        "content": "t:sections.headers.desktop_layout"
      },
      {
        "type": "checkbox",
        "id": "enable_full_width",
        "label": "t:sections.layout.section_width.full_width",
        "default": false
      },
      {
        "type": "select",
        "id": "layout_desktop",
        "label": "t:sections.layout.display_type.label",
        "options": [
          {
            "value": "grid",
            "label": "t:sections.layout.display_type.grid"
          },
          {
            "value": "slide",
            "label": "t:sections.layout.display_type.slider"
          }
        ],
        "default": "grid"
      },
      {
        "type": "range",
        "id": "collections_per_row_desktop",
        "label": "t:sections.layout.collections_per_row",
        "min": 2,
        "max": 6,
        "default": 4
      },
      {
        "type": "range",
        "id": "sm_custom_gap",
        "label": "t:sections.inputs.range.grid_gap",
        "info": "t:sections.inputs.range.grid_gap_info",
        "default": -1,
        "min": -1,
        "max": 40,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "md_padding_top",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "md_padding_bottom",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "t:sections.headers.tablet_layout"
      },
      {
        "type": "paragraph",
        "content": "t:sections.layout.display_type.tablet_paragraph"
      },
      {
        "type": "range",
        "id": "collections_per_row_tablet",
        "label": "t:sections.layout.collections_per_row",
        "min": 1,
        "max": 4,
        "default": 4
      },
      {
        "type": "header",
        "content": "t:sections.headers.mobile_layout"
      },
      {
        "type": "select",
        "id": "layout_mobile",
        "label": "t:sections.layout.display_type.label",
        "options": [
          {
            "value": "grid",
            "label": "t:sections.layout.display_type.grid"
          },
          {
            "value": "slide",
            "label": "t:sections.layout.display_type.slider"
          },
          {
            "value": "slide peek",
            "label": "t:sections.layout.display_type.slider_peek"
          }
        ],
        "default": "slide peek"
      },
      {
        "type": "range",
        "id": "collections_per_row_mobile",
        "label": "t:sections.layout.collections_per_row",
        "min": 1,
        "max": 3,
        "default": 1
      },
      {
        "type": "range",
        "id": "custom_gap",
        "label": "t:sections.inputs.range.grid_gap",
        "info": "t:sections.inputs.range.grid_gap_info",
        "default": -1,
        "min": -1,
        "max": 40,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "t:sections.headers.slideshow_settings",
        "info": "t:sections.sliders.slideshow_toggle_info"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "t:sections.sliders.enable_autoplay.label",
        "default": false
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "label": "t:sections.sliders.autoplay_speed.label",
        "info": "t:sections.sliders.autoplay_speed.info",
        "default": 5,
        "min": 2,
        "max": 8,
        "step": 1,
        "unit": "s"
      },
      {
        "type": "select",
        "id": "sliding_behavior",
        "label": "t:sections.sliders.sliding_behavior.label",
        "default": "all",
        "info": "t:sections.sliders.sliding_behavior.info",
        "options": [
          {
            "value": "single",
            "label": "t:sections.sliders.sliding_behavior.options.single"
          },
          {
            "value": "all",
            "label": "t:sections.sliders.sliding_behavior.options.all"
          }
        ]
      }
    ],
    "blocks": [
      {
        "name": "t:sections.blocks.section_header.name",
        "type": "section_header",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.blocks.section_header.info"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "t:sections.inputs.text.subtitle",
            "default": "Subheading"
          },
          {
            "type": "select",
            "id": "subtitle_tag",
            "label": "t:sections.blocks.section_header.subtitle_tag",
            "info": "t:sections.typography.heading_tag.info",
            "default": "h3",
            "options": [
              {
                "value": "h1",
                "label": "t:sections.typography.heading_tag.h1"
              },
              {
                "value": "h2",
                "label": "t:sections.typography.heading_tag.h2"
              },
              {
                "value": "h3",
                "label": "t:sections.typography.heading_tag.h3"
              },
              {
                "value": "h4",
                "label": "t:sections.typography.heading_tag.h4"
              },
              {
                "value": "h5",
                "label": "t:sections.typography.heading_tag.h5"
              },
              {
                "value": "h6",
                "label": "t:sections.typography.heading_tag.h6"
              }
            ]
          },
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.inputs.text.title",
            "default": "Collection list"
          },
          {
            "type": "select",
            "id": "title_tag",
            "label": "t:sections.blocks.section_header.title_tag",
            "info": "t:sections.typography.heading_tag.info",
            "default": "h2",
            "options": [
              {
                "value": "h1",
                "label": "t:sections.typography.heading_tag.h1"
              },
              {
                "value": "h2",
                "label": "t:sections.typography.heading_tag.h2"
              },
              {
                "value": "h3",
                "label": "t:sections.typography.heading_tag.h3"
              },
              {
                "value": "h4",
                "label": "t:sections.typography.heading_tag.h4"
              },
              {
                "value": "h5",
                "label": "t:sections.typography.heading_tag.h5"
              },
              {
                "value": "h6",
                "label": "t:sections.typography.heading_tag.h6"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.inputs.text.text"
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "t:sections.typography.text_align",
            "options": [
              {
                "value": "text-align-left",
                "label": "t:sections.layout.position.options.left"
              },
              {
                "value": "text-align-center",
                "label": "Center"
              },
              {
                "value": "text-align-right",
                "label": "t:sections.layout.position.options.right"
              }
            ],
            "default": "text-align-center"
          },
          {
            "type": "header",
            "content": "t:sections.headers.desktop_layout"
          },
          {
            "type": "select",
            "id": "sm_size_multiplier",
            "label": "t:sections.typography.size_options.label",
            "default": "sm-size--default",
            "options": [
              {
                "value": "sm-size--tiny",
                "label": "t:sections.typography.size_options.tiny"
              },
              {
                "value": "sm-size--small",
                "label": "t:sections.typography.size_options.small"
              },
              {
                "value": "sm-size--default",
                "label": "t:sections.typography.size_options.default"
              },
              {
                "value": "sm-size--large",
                "label": "t:sections.typography.size_options.large"
              },
              {
                "value": "sm-size--huge",
                "label": "t:sections.typography.size_options.huge"
              },
              {
                "value": "sm-size--gigantic",
                "label": "t:sections.typography.size_options.gigantic"
              },
              {
                "value": "sm-size--outrageous",
                "label": "t:sections.typography.size_options.outrageous"
              }
            ]
          },
          {
            "type": "header",
            "content": "t:sections.headers.mobile_layout"
          },
          {
            "type": "select",
            "id": "size_multiplier",
            "label": "t:sections.typography.size_options.label",
            "default": "size--default",
            "options": [
              {
                "value": "size--tiny",
                "label": "t:sections.typography.size_options.tiny"
              },
              {
                "value": "size--small",
                "label": "t:sections.typography.size_options.small"
              },
              {
                "value": "size--default",
                "label": "t:sections.typography.size_options.default"
              },
              {
                "value": "size--large",
                "label": "t:sections.typography.size_options.large"
              },
              {
                "value": "size--huge",
                "label": "t:sections.typography.size_options.huge"
              },
              {
                "value": "size--gigantic",
                "label": "t:sections.typography.size_options.gigantic"
              },
              {
                "value": "size--outrageous",
                "label": "t:sections.typography.size_options.outrageous"
              }
            ]
          }
        ]
      },
      {
        "name": "t:sections.inputs.collection.label",
        "type": "collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.inputs.collection.label"
          },
          {
            "type": "select",
            "id": "card_bg",
            "label": "t:sections.cards.card_background.label",
            "info": "t:sections.cards.card_background.info",
            "default": "bg-solid",
            "options": [
              {
                "value": "bg-solid",
                "label": "t:sections.cards.card_background.options.default"
              },
              {
                "value": "bg-gradient",
                "label": "t:sections.cards.card_background.options.gradient"
              },
              {
                "value": "bg-transparent",
                "label": "t:sections.cards.card_background.options.transparent"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "custom_img",
            "label": "t:sections.cards.custom_image.label",
            "info": "t:sections.cards.custom_image.info"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.collection-list.name",
        "settings": {
        },
        "blocks": [
          { "type": "section_header" },
          { "type": "collection" },
          { "type": "collection" },
          { "type": "collection" },
          { "type": "collection" }
        ]
      }
    ]
  }
{% endschema %}