<div id="{{ section.id }}"
  class="container pt pb sm-pt sm-pb{% if section.settings.enable_full_width %} edge-to-edge{% endif %} color-{{ section.settings.color_scheme }}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
  ">
  {{ section.settings.custom_liquid }}
</div>

{% schema %}
  {
    "name": "t:sections.custom-liquid.name",
    "disabled_on": {
      "groups": ["header", "aside"]
    },
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.custom-liquid.info"
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "default",
        "label": "t:sections.colors.color_scheme.label"
      },
      {
        "type": "liquid",
        "id": "custom_liquid",
        "label": "t:sections.custom-liquid.settings.custom_liquid.label",
        "default": "<p class=\"text-align-center\">Custom liquid section can be used to create quick custom solutions</p>"
      },
      {
        "type": "header",
        "content": "t:sections.headers.desktop_layout"
      },
      {
        "type": "checkbox",
        "id": "enable_full_width",
        "label": "t:sections.layout.section_width.full_width",
        "default": false
      },
      {
        "type": "range",
        "id": "md_padding_top",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "md_padding_bottom",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "t:sections.headers.mobile_layout"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 160,
        "step": 8,
        "unit": "px",
        "label": "t:sections.layout.margin_bottom",
        "default": 40
      }
    ],
    "presets": [{
      "name": "t:sections.custom-liquid.name"
    }]
  }
{% endschema %}