{%- liquid
  assign the_article = section.settings.article
  assign sizes_string = '(min-width: 768px) calc((100vw - 72px) / 2), 100vw)'
  assign the_image = section.blocks | where: 'type', 'image' | first
  assign single_button_width_classes = ''

  if section.settings.enable_full_width == false
    assign max_media_width = settings.content_ideal_width | minus: 72 | divided_by: 2
    assign sizes_string = '(min-width:' | append: settings.content_ideal_width | append: 'px) ' | append: max_media_width | append: 'px, (min-width: 768px) calc((100vw - 72px) / 2), 100vw)'
  endif

  if section.settings.sm_full_width_buttons
    assign single_button_width_classes = 'sm-btn--full'
  endif

  if section.settings.full_width_buttons
    assign single_button_width_classes = single_button_width_classes | append: ' sm-down-btn--full' | strip
  endif
-%}

<div
  id="{{ section.id }}"
  class="pt pb sm-pt sm-pb container sm-down-edge-to-edge{% if section.settings.enable_full_width %} full-width{% endif %} color-{{ section.settings.color_scheme }}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
  ">
  <div
    class="media-with-text grid grid-cols-1 sm-grid-cols-2 col-align-items-center col-justify-items-center">
    {%- if the_image %}
      <div {% if section.settings.media_position == 'media_last' %}class="col-sm-order-2"{% endif %}>
        <a class="media-link" href="{{ the_article.url }}">
          {%- render 'img',
            src: the_article.image,
            sizes: sizes_string,
            aspect_ratio: the_image.settings.media_aspect_ratio,
            custom_classes: 'sm-br-img'
          -%}
        </a>
      </div>
    {%- endif %}
    <div class="p-page pt-12 pb-24 sm-p-0 sm-pt-24 sm-pb-24 {{ section.settings.content_width }} {{ section.settings.mobile_alignment }} {{ section.settings.desktop_alignment }}">
      {% render 'article-content-blocks',
        blocks: section.blocks,
        use_text_container: true,
        article: the_article,
        single_button_classes: single_button_width_classes,
        color_scheme: section.settings.color_scheme %}
    </div>
  </div>
</div>

<script type="application/ld+json">
  {{ article | structured_data }}
</script>

{% schema %}
{
  "name": "t:sections.featured-article.name",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.featured-article.info"
    },
    {
      "type": "article",
      "id": "article",
      "label": "t:sections.inputs.article.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "default",
      "label": "t:sections.colors.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.headers.desktop_layout"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.layout.section_width.full_width",
      "default": false
    },
    {
      "type": "select",
      "id": "media_position",
      "label": "t:sections.layout.media_position.label",
      "options": [
        {
          "value": "media_first",
          "label": "t:sections.layout.media_position.media_first"
        },
        {
          "value": "media_last",
          "label": "t:sections.layout.media_position.media_last"
        }
      ],
      "default": "media_first"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.layout.content_width.label",
      "options": [
        {
          "value": "col-sm-max-5",
          "label": "t:sections.layout.content_width.wide"
        },
        {
          "value": "col-sm-max-4",
          "label": "t:sections.layout.content_width.default"
        },
        {
          "value": "col-sm-max-3",
          "label": "t:sections.layout.content_width.narrow"
        }
      ],
      "default": "col-sm-max-4"
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "t:sections.typography.text_align",
      "options": [
        {
          "value": "sm-text-align-left",
          "label": "t:sections.layout.position.options.left"
        },
        {
          "value": "sm-text-align-center",
          "label": "t:sections.layout.position.options.center"
        },
        {
          "value": "sm-text-align-right",
          "label": "t:sections.layout.position.options.right"
        }
      ],
      "default": "sm-text-align-left"
    },
    {
      "type": "checkbox",
      "id": "sm_full_width_buttons",
      "label": "t:sections.buttons.button_group.full_width_buttons.label",
      "default": false
    },
    {
      "type": "range",
      "id": "md_padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "md_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.headers.mobile_layout"
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "t:sections.typography.text_align",
      "options": [
        {
          "value": "text-align-left",
          "label": "t:sections.layout.position.options.left"
        },
        {
          "value": "text-align-center",
          "label": "t:sections.layout.position.options.center"
        },
        {
          "value": "text-align-right",
          "label": "t:sections.layout.position.options.right"
        }
      ],
      "default": "text-align-left"
    },
    {
      "type": "checkbox",
      "id": "full_width_buttons",
      "label": "t:sections.buttons.button_group.full_width_buttons.label",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 24
    }
  ],
  "blocks":[
    {
      "name": "t:sections.blocks.image.name",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "id": "media_aspect_ratio",
          "type": "select",
          "label": "t:sections.images.aspect_ratio.label",
          "options": [
            {
              "value": "natural",
              "label": "t:sections.images.aspect_ratio.natural"
            },
            {
              "value": "portrait",
              "label": "t:sections.images.aspect_ratio.portrait_2_3"
            },
            {
              "value": "portrait_alt",
              "label": "t:sections.images.aspect_ratio.portrait_3_4"
            },
            {
              "value": "square",
              "label": "t:sections.images.aspect_ratio.square"
            },
            {
              "value": "landscape",
              "label": "t:sections.images.aspect_ratio.landscape_4_3"
            }
          ]
        }
      ]
    },
    {
      "name": "t:sections.blocks.title.name",
      "type": "article_title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "heading_tag",
          "info": "t:sections.typography.heading_tag.info",
          "label": "t:sections.typography.heading_tag.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.typography.heading_tag.h1"
            },
            {
              "value": "h2",
              "label": "t:sections.typography.heading_tag.h2"
            },
            {
              "value": "h3",
              "label": "t:sections.typography.heading_tag.h3"
            },
            {
              "value": "h4",
              "label": "t:sections.typography.heading_tag.h4"
            },
            {
              "value": "h5",
              "label": "t:sections.typography.heading_tag.h5"
            },
            {
              "value": "h6",
              "label": "t:sections.typography.heading_tag.h6"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "type": "details",
      "name": "t:sections.main-article.blocks.details.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_author",
          "label": "t:sections.inputs.checkbox.show_author",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_date",
          "label": "t:sections.inputs.checkbox.show_date",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 20,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 20,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.blocks.article.excerpt",
      "type": "article_body",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 20,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 20,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.blocks.button.name",
      "type": "button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.inputs.text.button_label",
          "default": "Read more"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.buttons.style.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.buttons.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.buttons.style.secondary"
            },
            {
              "value": "link",
              "label": "t:sections.buttons.style.link"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 24,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 24,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-article.name",
      "blocks":[
        { "type":"image" },
        { "type":"article_title" },
        { "type": "details" },
        { "type": "article_body" },
        { "type":"button" }
      ]
    }
  ]
}
{% endschema %}