{{ 'component-hero.css' | asset_url | stylesheet_tag }}

{%- liquid
  # Blocks to variables
  assign media_block = section.blocks | where: 'type', 'image' | first
  assign buttons_block = section.blocks | where: 'type', 'buttons' | size

  # Focal point
  assign focal_point_desktop = media_block.settings.image.presentation.focal_point | default: '50% 50%'
  assign focal_point_mobile = media_block.settings.image_mobile.presentation.focal_point | default: focal_point_desktop

  # Layout classes
  assign section_layout_classes = 'height-' | append: section.settings.section_height | append: ' sm-height-' | append: section.settings.section_height_desktop
  if section.settings.content_align_mobile contains 'contained'
    assign section_layout_classes = section_layout_classes | append: ' hero--contained'
  endif

  if section.settings.content_align_desktop contains 'contained'
    assign section_layout_classes = section_layout_classes | append: ' sm-hero--contained'
  endif

  # Section height
  assign section_height = section.settings.section_height
  assign section_height_desktop = section.settings.section_height_desktop

  if section_height == 'by_pixels'
    assign section_height = section.settings.section_pixel_height | append: 'px'
  endif

  if section_height_desktop == 'by_pixels'
    assign section_height_desktop = section.settings.section_pixel_height_desktop | append: 'px'
  endif

  # Media link check
  assign use_media_link = false
  if buttons_block == 0 and section.settings.media_link != blank
    assign use_media_link = true
  endif

  # Lazyload - Only first hero should not be lazy loaded
  assign lazyload = true
  assign is_priority_image = false
  if section.index == 1
    assign lazyload = false
    assign is_priority_image = true
  endif
-%}

{%- style -%}
  @media only screen and (max-width: 767px) {
    #{{ section.id }} .hero__media img,
    #{{ section.id }} .hero__media video {
      object-position: {{ focal_point_mobile }};
    }

    {%- if section.settings.content_align_mobile contains 'contained' -%}
      #{{ section.id }} .hero__media {
        height: {{ section_height }};
      }
    {%- else -%}
      #{{ section.id }} .hero {
        min-height: {{ section_height }};
      }
    {%- endif -%}
  }

  @media only screen and (min-width: 768px) {
    #{{ section.id }} .hero__media img,
    #{{ section.id }} .hero__media video {
      object-position: {{ focal_point_desktop }};
    }

    {%- if section.settings.content_align_desktop contains 'contained' -%}
      #{{ section.id }} .hero__media {
        height: {{ section_height_desktop }};
      }
    {%- else -%}
      #{{ section.id }} .hero {
        min-height: {{ section_height_desktop }};
      }
    {%- endif -%}
  }

  {% if section.settings.overlay_opacity > 0 %}
    #{{ section.id }} .hero__text::before {
      opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }};
    }
  {% endif %}
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="container pt pb sm-pt sm-pb{% if section.settings.enable_full_width %} edge-to-edge{% else %} sm-down-edge-to-edge{% endif %} color-{{ section.settings.color_scheme }} {{ section_layout_classes }}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
  ">
  <div class="hero{% unless section.settings.enable_full_width %} sm-br-img{% endunless %}">
    <div class="hero__media{% unless section.settings.enable_full_width %} sm-br-img{% endunless %}" {%- if media_block -%}{{ media_block.shopify_attributes }}{% endif %}>
      {%- case media_block.settings.media_toggle -%}
        {%- when 'show_image' -%}
          {%- if media_block.settings.image != blank -%}
            {%- render 'img',
              lazyload: lazyload,
              preload: is_priority_image,
              wrapped: false,
              src: media_block.settings.image,
              src_mobile: media_block.settings.image_mobile,
              sizes: "(max-width: 767px) 100vw, (max-width: 1200px) 100vw, 1200px"
            -%}
          {%- else -%}
            {{ 'lifestyle-2' | placeholder_svg_tag }}
          {%- endif -%}

        {%- when 'show_video' -%}
          {%- render 'video',
            src: media_block.settings.video_url,
            src_mobile: media_block.settings.video_url_mobile,
            autoplay: true,
            loop: true
          -%}
      {%- endcase -%}
    </div>

    <div class="hero__text">
      {%- if use_media_link -%}
      <a href="{{ section.settings.media_link }}">
      {%- endif -%}
      <div class="hero__text-container {{ section.settings.content_align_mobile | remove: 'contained ' }} {{ section.settings.content_align_desktop | remove: 'contained ' }}">
        <div class="{{ section.settings.content_width }} {{ section.settings.mobile_alignment }} {{ section.settings.desktop_alignment }}">
          {% render 'content-blocks',
            blocks: section.blocks,
            color_scheme: section.settings.color_scheme %}
        </div>
      </div>
      {%- if use_media_link -%}
      </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.hero.name",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.hero.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "default",
      "label": "t:sections.colors.color_scheme.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.colors.overlay_opacity",
      "default": 30,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "%"
    },
    {
      "type": "url",
      "id": "media_link",
      "label": "t:sections.inputs.url.banner_link",
      "info": "t:sections.inputs.url.banner_link_info"
    },
    {
      "type": "header",
      "content": "t:sections.headers.desktop_layout"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.layout.section_width.full_width",
      "default": true
    },
    {
      "type": "select",
      "id": "section_height_desktop",
      "label": "t:sections.layout.section_height.label",
      "default": "by_pixels",
      "options": [
        {
          "group": "t:sections.layout.section_height.group.relative",
          "label": "t:sections.layout.section_height.100vh",
          "value": "100vh"
        },
        {
          "group": "t:sections.layout.section_height.group.relative",
          "label": "t:sections.layout.section_height.auto",
          "value": "auto"
        },
        {
          "group": "t:sections.layout.section_height.group.static",
          "label": "Set by pixels",
          "value": "by_pixels"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_pixel_height_desktop",
      "label": "t:sections.layout.section_height.pixel_height_label",
      "default": 600,
      "min": 200,
      "max": 1200,
      "unit": "px",
      "step": 10,
      "info": "Used when \"Set by pixel\" selected as the section height."
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.layout.content_width.label_max_width",
      "options": [
        {
          "value": "",
          "label": "t:sections.layout.content_width.12_columns"
        },
        {
          "value": "col-sm-max-10",
          "label": "t:sections.layout.content_width.10_columns"
        },
        {
          "value": "col-sm-max-8",
          "label": "t:sections.layout.content_width.8_columns"
        },
        {
          "value": "col-sm-max-6",
          "label": "t:sections.layout.content_width.6_columns"
        },
        {
          "value": "col-sm-max-4",
          "label": "t:sections.layout.content_width.4_columns"
        }
      ],
      "default": "col-sm-max-8"
    },
    {
      "type": "select",
      "id": "content_align_desktop",
      "label": "t:sections.layout.position.content_label",
      "default": "sm-vertical-center sm-horizontal-center",
      "options": [
        {
          "value": "sm-vertical-top sm-horizontal-left",
          "label": "t:sections.layout.position.options.top_left",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "sm-vertical-top sm-horizontal-center",
          "label": "t:sections.layout.position.options.top_center",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "sm-vertical-top sm-horizontal-right",
          "label": "t:sections.layout.position.options.top_right",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "sm-vertical-center sm-horizontal-left",
          "label": "t:sections.layout.position.options.middle_left",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "sm-vertical-center sm-horizontal-center",
          "label": "t:sections.layout.position.options.center",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "sm-vertical-center sm-horizontal-right",
          "label": "t:sections.layout.position.options.middle_right",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "sm-vertical-bottom sm-horizontal-left",
          "label": "t:sections.layout.position.options.bottom_left",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "sm-vertical-bottom sm-horizontal-center",
          "label": "t:sections.layout.position.options.bottom_center",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "sm-vertical-bottom sm-horizontal-right",
          "label": "t:sections.layout.position.options.bottom_right",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "contained sm-horizontal-left",
          "label": "t:sections.layout.position.options.below_left",
          "group": "t:sections.layout.position.groups.by_side"
        },
        {
          "value": "contained sm-horizontal-center",
          "label": "t:sections.layout.position.options.below_center",
          "group": "t:sections.layout.position.groups.by_side"
        },
        {
          "value": "contained sm-horizontal-right",
          "label": "t:sections.layout.position.options.below_right",
          "group": "t:sections.layout.position.groups.by_side"
        }
      ]
    },
    {
      "type": "select",
      "id": "desktop_alignment",
      "label": "t:sections.typography.text_align",
      "options": [
        {
          "value": "sm-text-align-left",
          "label": "t:sections.layout.position.options.left"
        },
        {
          "value": "sm-text-align-center",
          "label": "Center"
        },
        {
          "value": "sm-text-align-right",
          "label": "t:sections.layout.position.options.right"
        }
      ],
      "default": "sm-text-align-center"
    },
    {
      "type": "range",
      "id": "md_padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "md_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.headers.mobile_layout"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:sections.layout.section_height.label",
      "default": "by_pixels",
      "options": [
        {
          "group": "t:sections.layout.section_height.group.relative",
          "label": "t:sections.layout.section_height.100vh",
          "value": "100vh"
        },
        {
          "group": "t:sections.layout.section_height.group.relative",
          "label": "t:sections.layout.section_height.auto",
          "value": "auto"
        },
        {
          "group": "t:sections.layout.section_height.group.static",
          "label": "Set by pixels",
          "value": "by_pixels"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_pixel_height",
      "label": "t:sections.layout.section_height.pixel_height_label",
      "default": 400,
      "min": 200,
      "max": 800,
      "unit": "px",
      "step": 10,
      "info": "Used when \"Set by pixel\" selected as the section height."
    },
    {
      "type": "select",
      "id": "content_align_mobile",
      "label": "t:sections.layout.position.content_label",
      "default": "vertical-center horizontal-center",
      "options": [
        {
          "value": "vertical-top horizontal-center",
          "label": "t:sections.layout.position.options.top",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "vertical-center horizontal-center",
          "label": "Middle",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "vertical-bottom horizontal-center",
          "label": "t:sections.layout.position.options.bottom",
          "group": "t:sections.layout.position.groups.overlay"
        },
        {
          "value": "contained",
          "label": "Below center",
          "group": "t:sections.layout.position.groups.by_side"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_alignment",
      "label": "t:sections.typography.text_align",
      "options": [
        {
          "value": "text-align-left",
          "label": "t:sections.layout.position.options.left"
        },
        {
          "value": "text-align-center",
          "label": "Center"
        },
        {
          "value": "text-align-right",
          "label": "t:sections.layout.position.options.right"
        }
      ],
      "default": "text-align-center"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "t:sections.blocks.image_or_video.name",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "label": "t:sections.images.media_toggle.label",
          "id": "media_toggle",
          "options": [
              {
              "value": "show_image",
              "label": "t:sections.images.media_toggle.show_image"
              },
              {
                "value": "show_video",
                "label": "t:sections.images.media_toggle.show_video"
              }
            ],
          "default": "show_image",
          "info": "t:sections.images.media_toggle.info"
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_settings"
        },
        {
          "type": "paragraph",
          "content": "t:sections.blocks.image_or_video.info_desktop_settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.inputs.image_picker.image",
          "info": "t:sections.images.recommendations.landscape"
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "t:sections.inputs.url.video_url",
          "info": "t:sections.inputs.url.video_url__info"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_settings"
        },
        {
          "type": "paragraph",
          "content": "t:sections.blocks.image_or_video.info_mobile_settings"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.inputs.image_picker.image",
          "info": "t:sections.images.recommendations.portrait"
        },
        {
          "type": "text",
          "id": "video_url_mobile",
          "label": "t:sections.inputs.url.video_url",
          "info": "t:sections.inputs.url.video_url__info"
        }
      ]
    },
    {
      "name": "t:sections.blocks.subtitle.name",
      "type": "subtitle",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "t:sections.inputs.text.subtitle",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "info": "t:sections.typography.heading_tag.info",
          "label": "t:sections.typography.heading_tag.label",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.typography.heading_tag.h1"
            },
            {
              "value": "h2",
              "label": "t:sections.typography.heading_tag.h2"
            },
            {
              "value": "h3",
              "label": "t:sections.typography.heading_tag.h3"
            },
            {
              "value": "h4",
              "label": "t:sections.typography.heading_tag.h4"
            },
            {
              "value": "h5",
              "label": "t:sections.typography.heading_tag.h5"
            },
            {
              "value": "h6",
              "label": "t:sections.typography.heading_tag.h6"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.blocks.title.name",
      "type": "title",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "t:sections.inputs.text.title",
          "default": "Hero banner"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "info": "t:sections.typography.heading_tag.info",
          "label": "t:sections.typography.heading_tag.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.typography.heading_tag.h1"
            },
            {
              "value": "h2",
              "label": "t:sections.typography.heading_tag.h2"
            },
            {
              "value": "h3",
              "label": "t:sections.typography.heading_tag.h3"
            },
            {
              "value": "h4",
              "label": "t:sections.typography.heading_tag.h4"
            },
            {
              "value": "h5",
              "label": "t:sections.typography.heading_tag.h5"
            },
            {
              "value": "h6",
              "label": "t:sections.typography.heading_tag.h6"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.blocks.text.name",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "t:sections.inputs.text.text",
          "default": "<p>Capture your users attention with visually impressive hero banner. Use versatile content and layout options to fit your preferences.</p>"
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.blocks.buttons.name",
      "type": "buttons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.blocks.buttons.paragraph"
        },
        {
          "type": "header",
          "content": "t:sections.blocks.buttons.header_1"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "label": "t:sections.inputs.text.button_label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.inputs.url.button_link"
        },
        {
          "type": "select",
          "id": "button_style_1",
          "label": "t:sections.buttons.style.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.buttons.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.buttons.style.secondary"
            },
            {
              "value": "link",
              "label": "t:sections.inputs.url.link"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.blocks.buttons.header_2"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.inputs.text.button_label"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.inputs.url.button_link"
        },
        {
          "type": "select",
          "id": "button_style_2",
          "label": "t:sections.buttons.style.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.buttons.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.buttons.style.secondary"
            },
            {
              "value": "link",
              "label": "t:sections.inputs.url.link"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.blocks.buttons.header_3"
        },
        {
          "type": "text",
          "id": "button_label_3",
          "label": "t:sections.inputs.text.button_label"
        },
        {
          "type": "url",
          "id": "button_link_3",
          "label": "t:sections.inputs.url.button_link"
        },
        {
          "type": "select",
          "id": "button_style_3",
          "label": "t:sections.buttons.style.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.buttons.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.buttons.style.secondary"
            },
            {
              "value": "link",
              "label": "t:sections.inputs.url.link"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "checkbox",
          "id": "sm_full_width_buttons",
          "label": "t:sections.buttons.button_group.full_width_buttons.label",
          "default": false
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 24,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "checkbox",
          "id": "full_width_buttons",
          "label": "t:sections.buttons.button_group.full_width_buttons.label",
          "default": false
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 24,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [{
    "name": "t:sections.hero.name",
    "settings": {
      "padding_top": 0,
      "padding_bottom": 0,
      "md_padding_top": 0,
      "md_padding_bottom": 0
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "title"
      },
      {
        "type": "text"
      },
      {
        "type": "buttons"
      }
    ]
  }]
}
{% endschema %}