{{ 'component-hero.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign media_block = section.blocks | where: 'type', 'image' | first
  assign section_layout_classes = 'height-' | append: section.settings.section_height | append: ' sm-height-' | append: section.settings.section_height_desktop
  assign section_height = section.settings.section_height
  assign section_height_desktop = section.settings.section_height_desktop
  assign single_button_width_classes = ''

  if section_height == 'by_pixels'
    assign section_height = section.settings.section_pixel_height | append: 'px'
  endif

  if section_height_desktop == 'by_pixels'
    assign section_height_desktop = section.settings.section_pixel_height_desktop | append: 'px'
  endif

  assign sizes_string = '100vw'
  unless section.settings.enable_full_width
    assign sizes_string = '(min-width:' | append: settings.content_ideal_width | append: 'px) ' | append: 'var(--ideal-width), 100vw)'
  endunless

  assign focal_point_desktop = media_block.settings.image.presentation.focal_point | default: '50% 50%'
  assign focal_point_mobile = media_block.settings.image_mobile.presentation.focal_point | default: focal_point_desktop

  if section.settings.sm_full_width_buttons
    assign single_button_width_classes = 'sm-btn--full'
  endif

  if section.settings.full_width_buttons
    assign single_button_width_classes = single_button_width_classes | append: ' sm-down-btn--full' | strip
  endif
-%}

{%- style -%}
  @media only screen and (max-width: 767px) {
    #{{ section.id }} .hero__media img,
    #{{ section.id }} .hero__media video {
      object-position: {{ focal_point_mobile }};
    }
    #{{ section.id }} .hero {
      min-height: {{ section_height }};
    }
  }

  @media only screen and (min-width: 768px) {
    #{{ section.id }} .hero__media img,
    #{{ section.id }} .hero__media video {
      object-position: {{ focal_point_desktop }};
    }

    #{{ section.id }} .hero {
      min-height: {{ section_height_desktop }};
    }
  }
{%- endstyle -%}

<div
  id="{{ section.id }}"
  class="container pt pb sm-pt sm-pb color-{{ section.settings.color_scheme }} {{ section_layout_classes }} {% if section.settings.enable_full_width %} edge-to-edge{% else %} sm-down-edge-to-edge{% endif %}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
  ">
  <div class="hero{% unless section.settings.enable_full_width %} sm-br-img{% endunless %}">
    <div class="hero__media{% unless section.settings.enable_full_width %} sm-br-img{% endunless %}" {{ media_block.shopify_attributes }}>
      {%- if media_block.settings.media_toggle == 'show_image' -%}
        {%- render 'img',
          lazyload: true,
          wrapped: false,
          src: media_block.settings.image,
          src_mobile: media_block.settings.image_mobile,
          sizes: sizes_string,
          placeholder: 'lifestyle-2'
        -%}
      {%- else -%}
        {%- render 'video',
          src: media_block.settings.video_url,
          src_mobile: media_block.settings.video_url_mobile,
          autoplay: true,
          loop: true
        -%}
      {%- endif -%}
    </div>
    <div class="hero__text">
      <div class="hero__text-container {{ section.settings.content_align_mobile }} {{ section.settings.content_align_desktop }}">
        <div class="p-24 sm-p-40 br-img {{ section.settings.content_width }} color-{{ section.settings.color_scheme_content }}" style="width:100%;">
          {% render 'content-blocks',
            blocks: section.blocks,
            use_text_container: true,
            single_button_classes: single_button_width_classes,
            color_scheme: section.settings.color_scheme_content %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-text-overlay.name",
  "disabled_on": {
    "groups": ["header", "footer", "aside"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.image-text-overlay.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "default",
      "label": "t:sections.colors.color_scheme.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_content",
      "default": "default",
      "label": "t:sections.image-text-overlay.settings.color_scheme_fg.label"
    },
    {
      "type": "header",
      "content": "t:sections.headers.desktop_layout"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.layout.section_width.full_width",
      "default": true
    },
    {
      "type": "select",
      "id": "section_height_desktop",
      "label": "t:sections.layout.section_height.label",
      "default": "by_pixels",
      "options": [
        {
          "group": "t:sections.layout.section_height.group.relative",
          "label": "t:sections.layout.section_height.100vh",
          "value": "100vh"
        },
        {
          "group": "t:sections.layout.section_height.group.relative",
          "label": "t:sections.layout.section_height.auto",
          "value": "auto"
        },
        {
          "group": "t:sections.layout.section_height.group.static",
          "label": "Set by pixels",
          "value": "by_pixels"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_pixel_height_desktop",
      "label": "t:sections.layout.section_height.pixel_height_label",
      "default": 600,
      "min": 200,
      "max": 1200,
      "unit": "px",
      "step": 10,
      "info": "Used when \"Set by pixel\" selected as the section height."
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.layout.content_width.label",
      "options": [
        {
          "value": "col-sm-max-5",
          "label": "t:sections.layout.content_width.wide"
        },
        {
          "value": "col-sm-max-4",
          "label": "t:sections.layout.content_width.default"
        },
        {
          "value": "col-sm-max-3",
          "label": "t:sections.layout.content_width.narrow"
        }
      ],
      "default": "col-sm-max-4"
    },
    {
      "type": "select",
      "id": "content_align_desktop",
      "label": "t:sections.layout.position.content_label",
      "options": [
        {
          "value": "sm-vertical-top sm-horizontal-left",
          "label": "t:sections.layout.position.options.top_left"
        },
        {
          "value": "sm-vertical-top sm-horizontal-center",
          "label": "t:sections.layout.position.options.top_center"
        },
        {
          "value": "sm-vertical-top sm-horizontal-right",
          "label": "t:sections.layout.position.options.top_right"
        },
        {
          "value": "sm-vertical-center sm-horizontal-left",
          "label": "t:sections.layout.position.options.middle_left"
        },
        {
          "value": "sm-vertical-center sm-horizontal-center",
          "label": "t:sections.layout.position.options.center"
        },
        {
          "value": "sm-vertical-center sm-horizontal-right",
          "label": "t:sections.layout.position.options.middle_right"
        },
        {
          "value": "sm-vertical-bottom sm-horizontal-left",
          "label": "t:sections.layout.position.options.bottom_left"
        },
        {
          "value": "sm-vertical-bottom sm-horizontal-center",
          "label": "t:sections.layout.position.options.bottom_center"
        },
        {
          "value": "sm-vertical-bottom sm-horizontal-right",
          "label": "t:sections.layout.position.options.bottom_right"
        }
      ],
      "default": "sm-vertical-center sm-horizontal-left"
    },
    {
      "type": "checkbox",
      "id": "sm_full_width_buttons",
      "label": "t:sections.buttons.button_group.full_width_buttons.label",
      "default": false
    },
    {
      "type": "range",
      "id": "md_padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "md_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.headers.mobile_layout"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "t:sections.layout.section_height.label",
      "default": "by_pixels",
      "options": [
        {
          "group": "t:sections.layout.section_height.group.relative",
          "label": "t:sections.layout.section_height.100vh",
          "value": "100vh"
        },
        {
          "group": "t:sections.layout.section_height.group.relative",
          "label": "t:sections.layout.section_height.auto",
          "value": "auto"
        },
        {
          "group": "t:sections.layout.section_height.group.static",
          "label": "Set by pixels",
          "value": "by_pixels"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_pixel_height",
      "label": "t:sections.layout.section_height.pixel_height_label",
      "default": 400,
      "min": 200,
      "max": 800,
      "unit": "px",
      "step": 10,
      "info": "Used when \"Set by pixel\" selected as the section height."
    },
    {
      "type": "select",
      "id": "content_align_mobile",
      "label": "t:sections.layout.position.content_label",
      "options": [
        {
          "value": "horizontal-center vertical-top",
          "label": "t:sections.layout.position.options.top"
        },
        {
          "value": "horizontal-center vertical-center",
          "label": "t:sections.layout.position.options.center"
        },
        {
          "value": "horizontal-center vertical-bottom",
          "label": "t:sections.layout.position.options.bottom"
        }
      ],
      "default": "horizontal-center vertical-center"
    },
    {
      "type": "checkbox",
      "id": "full_width_buttons",
      "label": "t:sections.buttons.button_group.full_width_buttons.label",
      "default": false
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 24
    }
  ],
  "blocks":[
    {
      "name": "t:sections.blocks.image_or_video.name",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "radio",
          "label": "t:sections.images.media_toggle.label",
          "id": "media_toggle",
          "options": [
              {
              "value": "show_image",
              "label": "t:sections.images.media_toggle.show_image"
              },
              {
                "value": "show_video",
                "label": "t:sections.images.media_toggle.show_video"
              }
            ],
          "default": "show_image",
          "info": "t:sections.images.media_toggle.info"
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_settings"
        },
        {
          "type": "paragraph",
          "content": "t:sections.blocks.image_or_video.info_desktop_settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.inputs.image_picker.image",
          "info": "t:sections.images.recommendations.landscape"
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "t:sections.inputs.url.video_url",
          "info": "t:sections.inputs.url.video_url__info"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_settings"
        },
        {
          "type": "paragraph",
          "content": "t:sections.blocks.image_or_video.info_mobile_settings"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "t:sections.inputs.image_picker.image",
          "info": "t:sections.images.recommendations.portrait"
        },
        {
          "type": "text",
          "id": "video_url_mobile",
          "label": "t:sections.inputs.url.video_url",
          "info": "t:sections.inputs.url.video_url__info"
        }
      ]
    },
    {
      "name": "t:sections.blocks.subtitle.name",
      "type": "subtitle",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subtitle",
          "label": "t:sections.inputs.text.subtitle",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "info": "t:sections.typography.heading_tag.info",
          "label": "t:sections.typography.heading_tag.label",
          "default": "h3",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.typography.heading_tag.h1"
            },
            {
              "value": "h2",
              "label": "t:sections.typography.heading_tag.h2"
            },
            {
              "value": "h3",
              "label": "t:sections.typography.heading_tag.h3"
            },
            {
              "value": "h4",
              "label": "t:sections.typography.heading_tag.h4"
            },
            {
              "value": "h5",
              "label": "t:sections.typography.heading_tag.h5"
            },
            {
              "value": "h6",
              "label": "t:sections.typography.heading_tag.h6"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.blocks.title.name",
      "type": "title",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "t:sections.inputs.text.title",
          "default": "Image text overlay"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "info": "t:sections.typography.heading_tag.info",
          "label": "t:sections.typography.heading_tag.label",
          "default": "h2",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.typography.heading_tag.h1"
            },
            {
              "value": "h2",
              "label": "t:sections.typography.heading_tag.h2"
            },
            {
              "value": "h3",
              "label": "t:sections.typography.heading_tag.h3"
            },
            {
              "value": "h4",
              "label": "t:sections.typography.heading_tag.h4"
            },
            {
              "value": "h5",
              "label": "t:sections.typography.heading_tag.h5"
            },
            {
              "value": "h6",
              "label": "t:sections.typography.heading_tag.h6"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.blocks.text.name",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.inputs.text.text",
          "default": "<p>Capture your users attention with visually impressive Image with text overlay. Use versatile content and layout options to fit your preferences.</p>"
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 0,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    },
    {
      "name": "t:sections.blocks.button.name",
      "type": "button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.inputs.text.button_label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.inputs.url.button_link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:sections.buttons.style.label",
          "options": [
            {
              "value": "",
              "label": "t:sections.buttons.style.primary"
            },
            {
              "value": "secondary",
              "label": "t:sections.buttons.style.secondary"
            },
            {
              "value": "link",
              "label": "t:sections.buttons.style.link"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.desktop_layout"
        },
        {
          "type": "select",
          "id": "sm_size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "sm-size--default",
          "options": [
            {
              "value": "sm-size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "sm-size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "sm-size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "sm-size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "sm-size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "sm-size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "sm-size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "sm_margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 24,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        },
        {
          "type": "header",
          "content": "t:sections.headers.mobile_layout"
        },
        {
          "type": "select",
          "id": "size_multiplier",
          "label": "t:sections.typography.size_options.label",
          "default": "size--default",
          "options": [
            {
              "value": "size--tiny",
              "label": "t:sections.typography.size_options.tiny"
            },
            {
              "value": "size--small",
              "label": "t:sections.typography.size_options.small"
            },
            {
              "value": "size--default",
              "label": "t:sections.typography.size_options.default"
            },
            {
              "value": "size--large",
              "label": "t:sections.typography.size_options.large"
            },
            {
              "value": "size--huge",
              "label": "t:sections.typography.size_options.huge"
            },
            {
              "value": "size--gigantic",
              "label": "t:sections.typography.size_options.gigantic"
            },
            {
              "value": "size--outrageous",
              "label": "t:sections.typography.size_options.outrageous"
            }
          ]
        },
        {
          "type": "range",
          "id": "margin_top",
          "label": "t:sections.layout.margin_top",
          "default": 24,
          "min": -10,
          "max": 60,
          "step": 1,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-text-overlay.name",
      "blocks":[
        {
          "type":"image"
        },
        {
          "type":"subtitle"
        },
        {
          "type":"title"
        },
        {
          "type":"text"
        },
        {
          "type":"button"
        }
      ]
    }
  ]
}
{% endschema %}