{{ 'component-modals.css' | asset_url | stylesheet_tag }}

<div id="{{ section.id }}"
  class="pt pb sm-pt sm-pb container custom-child-for-animation{% if section.settings.enable_full_width %} full-width{% endif %} color-{{ section.settings.color_scheme }}"
  style="
    --pt: {{ section.settings.padding_top | append: 'px' }};
    --pb: {{ section.settings.padding_bottom | append: 'px' }};
    --sm-pt: {{ section.settings.md_padding_top | append: 'px' }};
    --sm-pb: {{ section.settings.md_padding_bottom | append: 'px' }};
  ">

  <div class="grid grid-cols-{{ section.settings.items_per_row_mobile }} sm-grid-cols-{{ section.settings.items_per_row_tablet }} md-grid-cols-{{ section.settings.items_per_row_desktop }} {{ section.settings.text_alignment }} {{ section.settings.sm_text_alignment }}">
    {% for block in section.blocks %}
    <div {{ block.shopify_attributes }}>
      <a class="{{ section.settings.title_style }} {{ section.settings.size_multiplier }} {{ section.settings.sm_size_multiplier }}" href="#modal-{{ section.id }}?slide={{ forloop.index }}">{{ block.settings.title }}{% if section.settings.show_link_icon %} <span class="link-icon">{% render 'icon-chevron-right' %}</span>{% endif %}</a>
    </div>
    {% endfor %}
  </div>
</div>

<modal-gridy-slider-parent id="modal-{{ section.id }}" class="modal modal--slider color-{{ settings.color_scheme_modals }}" data-modal data-parent>
  <gridy-slider id="slider-{{ section.id }}"
    class="gridy-slider"
    data-mobile-enabled="true"
    data-tablet-enabled="true"
    data-desktop-enabled="true"
    data-ipr-desktop="1"
    data-ipr-tablet="1"
    data-ipr-mobile="1"
    data-arrows="true"
    data-overflow-visible="true">
    <div class="gridy-track scrollbar--hide grid grid-cols-1" data-contents-wrapper dir="ltr">
      {%- for block in section.blocks -%}
        {%- if block.settings.image != blank or block.settings.video_url != blank -%}
          {%- assign has_media = true -%}
        {%- else -%}
          {%- assign has_media = false -%}
        {%- endif -%}
        <div class="modal-dialog modal-dialog--large{% if forloop.index == 1 %} active
        {% endif %}" data-contents data-modal-dialog role="dialog" aria-modal="true" tabindex="-1">
          <a class="modal-close pos--absolute" href="#" data-modal-close data-close>
            {% render 'icon-close' %}
            <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
          </a>

          <div class="modal-grid{% if has_media %} modal-grid--with-media{% endif %}">
            {%- if has_media -%}
              <div class="modal-grid-media-column">
                {%- if block.settings.image != blank -%}
                  {%- render 'img',
                    lazyload: true,
                    src: block.settings.image
                  -%}
                {%- elsif block.settings.video_url != blank -%}
                  {%- render 'video',
                    src: block.settings.video_url,
                    autoplay: false,
                    loop: true,
                    aspect_ratio: 'auto',
                    lazyload: true,
                    controls: true
                  -%}
                {%- endif -%}
              </div>
            {%- endif -%}
            <div class="modal-grid-text-column p-24 sm-p-40 scrollbar--hide rte">{{ block.settings.text }}</div>
          </div>
        </div>
      {%- endfor -%}
    </div>
    {%- if section.blocks.size > 1 -%}
      {% render 'gridy-arrows' %}
    {%- endif -%}
  </gridy-slider>

  {% comment %} Background, click to close {% endcomment %}
  <a href="#" class="page-overlay" data-modal-overlay data-overlay aria-hidden="true"></a>
</modal-gridy-slider-parent>

<script type="text/javascript" defer src="{{ 'component-modal-gridy-slider.js' | asset_url }}"></script>

{% schema %}
{
  "name": "t:sections.on-demand-info.name",
  "class": "anim-custom-child",
  "disabled_on": {
    "groups": ["header", "aside"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.on-demand-info.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "default",
      "label": "t:sections.colors.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "show_link_icon",
      "label": "Show link icon",
      "default": true
    },
    {
      "type": "select",
      "id": "title_style",
      "label": "t:sections.typography.style_options.heading_style_label",
      "default": "subheading flex gap-half-gutter",
      "options": [
        {
          "value": "h3 flex gap-half-gutter",
          "label": "t:sections.typography.style_options.heading",
          "group": "t:sections.typography.style_options.text_group"
        },
        {
          "value": "body-text flex gap-half-gutter",
          "label": "t:sections.typography.style_options.body_text",
          "group": "t:sections.typography.style_options.text_group"
        },
        {
          "value": "subheading flex gap-half-gutter",
          "label": "t:sections.inputs.text.subtitle",
          "group": "t:sections.typography.style_options.text_group"
        },
        {
          "value": "btn btn--primary btn--full",
          "label": "t:sections.typography.style_options.primary_button",
          "group": "t:sections.typography.style_options.button_group"
        },
        {
          "value": "btn btn--secondary btn--full",
          "label": "t:sections.typography.style_options.secondary_button",
          "group": "t:sections.typography.style_options.button_group"
        },
        {
          "value": "btn btn--link btn--full",
          "label": "t:sections.typography.style_options.link",
          "group": "t:sections.typography.style_options.button_group"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.headers.desktop_layout"
    },
    {
      "type": "range",
      "id": "items_per_row_desktop",
      "label": "t:sections.layout.items_per_row",
      "min": 2,
      "max": 6,
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.layout.section_width.full_width",
      "default": false
    },
    {
      "type": "select",
      "id": "sm_text_alignment",
      "label": "t:sections.typography.text_align",
      "default": "sm-text-align-center",
      "options": [
        {
          "value": "sm-text-align-left",
          "label": "t:sections.layout.position.options.left"
        },
        {
          "value": "sm-text-align-center",
          "label": "t:sections.layout.position.options.center"
        },
        {
          "value": "sm-text-align-right",
          "label": "t:sections.layout.position.options.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "sm_size_multiplier",
      "label": "t:sections.typography.size_options.label",
      "default": "sm-size--default",
      "options": [
        {
          "value": "sm-size--tiny",
          "label": "t:sections.typography.size_options.tiny"
        },
        {
          "value": "sm-size--small",
          "label": "t:sections.typography.size_options.small"
        },
        {
          "value": "sm-size--default",
          "label": "t:sections.typography.size_options.default"
        },
        {
          "value": "sm-size--large",
          "label": "t:sections.typography.size_options.large"
        },
        {
          "value": "sm-size--huge",
          "label": "t:sections.typography.size_options.huge"
        },
        {
          "value": "sm-size--gigantic",
          "label": "t:sections.typography.size_options.gigantic"
        },
        {
          "value": "sm-size--outrageous",
          "label": "t:sections.typography.size_options.outrageous"
        }
      ]
    },
    {
      "type": "range",
      "id": "md_padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "md_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 40
    },
    {
      "type": "paragraph",
      "content": "t:sections.layout.display_type.tablet_paragraph"
    },
    {
      "type": "range",
      "id": "items_per_row_tablet",
      "label": "t:sections.layout.items_per_row",
      "min": 2,
      "max": 4,
      "default": 4
    },
    {
      "type": "header",
      "content": "t:sections.headers.mobile_layout"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.typography.text_align",
      "default": "text-align-center",
      "options": [
        {
          "value": "text-align-left",
          "label": "t:sections.layout.position.options.left"
        },
        {
          "value": "text-align-center",
          "label": "t:sections.layout.position.options.center"
        },
        {
          "value": "text-align-right",
          "label": "t:sections.layout.position.options.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "size_multiplier",
      "label": "t:sections.typography.size_options.label",
      "default": "size--default",
      "options": [
        {
          "value": "size--tiny",
          "label": "t:sections.typography.size_options.tiny"
        },
        {
          "value": "size--small",
          "label": "t:sections.typography.size_options.small"
        },
        {
          "value": "size--default",
          "label": "t:sections.typography.size_options.default"
        },
        {
          "value": "size--large",
          "label": "t:sections.typography.size_options.large"
        },
        {
          "value": "size--huge",
          "label": "t:sections.typography.size_options.huge"
        },
        {
          "value": "size--gigantic",
          "label": "t:sections.typography.size_options.gigantic"
        },
        {
          "value": "size--outrageous",
          "label": "t:sections.typography.size_options.outrageous"
        }
      ]
    },
    {
      "type": "range",
      "id": "items_per_row_mobile",
      "label": "t:sections.layout.items_per_row",
      "min": 1,
      "max": 3,
      "default": 2
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 24
    }
  ],
  "blocks":[
    {
      "name": "t:sections.on-demand-info.blocks.info-block.name",
      "type": "info_block",
      "limit": 6,
      "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "t:sections.inputs.text.button_label",
          "default": "Button label"
        },
        {
          "type": "header",
          "content": "t:sections.on_demand_content.header",
          "info": "t:sections.on_demand_content.info"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.inputs.image_picker.image"
        },
        {
          "type": "text",
          "id": "video_url",
          "label": "t:sections.inputs.url.video_url",
          "info": "t:sections.inputs.url.video_url__info"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.inputs.text.text",
          "default": "<p>This is the on demand info shown when the button is clicked.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.on-demand-info.name",
      "blocks":[
        {
          "type":"info_block"
        },
        {
          "type":"info_block"
        },
        {
          "type":"info_block"
        },
        {
          "type":"info_block"
        }
      ]
    }
  ]
}
{% endschema %}