{%- liquid
  # LOGO SETTINGS
  assign logo_image = section.settings.logo_default
  assign logo_width = section.settings.logo_max_width
  assign logo_width_desktop = section.settings.logo_max_width_desktop

-%}

{%- capture logo_element -%}
  <div class="header-logo"  style=" --logo-width: {{ logo_width | append: 'px' }}; --sm-logo-width: {{ logo_width_desktop | append: 'px' }};">
    {% if logo_image %}
      <img class="site-logo --default" width="{{ logo_image.width }}" height="{{ logo_image.height }}" src="{{ logo_image | image_url: width: 600 }}" alt="{{ shop.name }}"/>
    {% else %}
      <h2 class="site-logo --text">{{ shop.name }}</h2>
    {% endif %}
  </div>
{%- endcapture -%}

<style>
  .header-logo > * {
    margin-top: {{ section.settings.logo_padding | append: 'px;' }};
    margin-bottom: {{ section.settings.logo_padding | append: 'px;' }};
  }
  @media only screen and (min-width:768px) {
   .header-logo > * {
      margin-top: {{ section.settings.logo_padding_desktop | append: 'px;' }};
      margin-bottom: {{ section.settings.logo_padding_desktop | append: 'px;' }};
    }
  }
</style>

<header
  id="MainHeader"
  class="header container sm-down-edge-to-edge logo-center__menu-center color-{{ section.settings.color_scheme }} {{ section.settings.overlay_text_color }}"
  data-sticky-behavior="none">
  <div class="header-content">
    <div class="header-item --left"></div>
    <div class="header-item --center p-24">
      {{ logo_element }}
    </div>
    <div class="header-item --right"></div>
  </div>
</header>

{% schema %}
  {
    "name": "t:sections.password-header.name",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "default": "default",
        "label": "t:sections.header.settings.color_schemes.header"
      },
      {
        "type": "header",
        "content": "t:sections.header.settings.header_for_logo.content"
      },
      {
        "type": "paragraph",
        "content": "t:sections.header.settings.paragraph_for_logo.content"
      },
      {
        "type": "image_picker",
        "id": "logo_default",
        "label": "t:sections.header.settings.logo_default.label",
        "info": "t:sections.header.settings.logo_default.info"
      },
      {
        "type": "range",
        "id": "logo_max_width_desktop",
        "label": "t:sections.header.settings.logo_max_width_desktop.label",
        "default": 120,
        "min": 30,
        "max": 300,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "logo_padding_desktop",
        "label": "t:sections.header.settings.logo_padding_desktop.label",
        "default": 15,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "label": "t:sections.header.settings.logo_max_width.label",
        "default": 100,
        "min": 30,
        "max": 300,
        "step": 10,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "logo_padding",
        "label": "t:sections.header.settings.logo_padding.label",
        "default": 5,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px"
      }
    ]
  }
{% endschema %}